.login-box {
    .el-input {
        height: 52px;
      }
      .el-form-item {
        margin-bottom: 38px;
      }
     

}
.el-form {
  width: 100%;
}
.el-container {

  background-color:#f5f8fc;
}
.el-aside {
  background: linear-gradient(165deg, #1a3873, #0f2e5e);
  .el-menu-item {
    font-size: 18px;
  }
  .is-active {
    color: #61D3FF;
    background-color:  #2d5dbb;
    

  }
}
.el-menu-item {
  background-color: #1a3873;
}
.el-menu-item:hover {
  background-color:#00357f;
}
.el-header {
  background: linear-gradient(165deg, #1a3873, #0f2e5e);
}
.el-main {
  height: calc(100vh - 60px);
}
.el-menu {
  border-right: none;
}
.el-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .el-main {
//   background-color:rgb(109,151,199);
// }
.el-button--primary {
  height: 40px;
  padding: 8px 20px;
  position: relative;
  border: none; // 移除原始边框
  background: linear-gradient(to right, #2d5dbb, #1a3873) padding-box,
              linear-gradient(to right, #2d5dbb, #1a3873) border-box;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    background: linear-gradient(to right, #2d5dbb, #1a3873) border-box;
    -webkit-mask: 
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    border-radius: 4px; // 如果按钮有圆角，这里也要设置相同的值
   
  }
  &:hover {
    background: linear-gradient(to right, #2d5dbb, #1a3873) padding-box,
            linear-gradient(to right, #2d5dbb, #1a3873) border-box;
              color: #61D3FF;
  }
}
.el-dialog {
  padding: unset;
  .el-dialog__header {
    background-color: #1a3873;
    padding-top: 14px;
    
    color: #61d3ff;
    .el-dialog__title {
      color: #61d3ff;
      margin-left: 10px;
      margin-top: 10px;

    }
  }
  .el-dialog__body {
    padding: 20px;
    
  }
  .el-dialog__footer {
    padding: 20px;
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: #61d3ff;
  }
  .btn-cancel {
    height: 40px;
    padding: 8px 20px;
    background: transparent !important;
    border: 1px solid #1a3873 ;
    color: #1a3873;
    &:hover {
      color: #2d5dbb;
    }
  }
  .el-dialog__footer {
    text-align: center;
  }
}
.el-message-box__btns {
  .el-button:first-child {
    height: 40px;
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #1a3873 ;
    color: #1a3873;
    &:hover {
      color: #2d5dbb;
    }
  }
}
.el-popper.is-dark, .el-popper.is-dark>.el-popper__arrow:before {
  background-color: #1a3873;
}

.ppt-page {
  .el-tabs__nav-wrap:after  {
    background-color: #fff;
  }
  .el-tabs__item.is-active, .el-tabs__item:hover {
    color: #61d3ff;
  }
  .el-tabs__item {
    color:#fff;
  }
}
.el-tree-node__content {
  height: 50px;
}
.el-input__prefix-inner>:first-child, .el-input__prefix-inner>:first-child.el-input__icon {
color: #fff;
font-size: 18px;
font-weight: bold;
}
.el-tree {
  padding: 20px;
}
.pagination-ppt-container {
  display: flex;
  justify-content: flex-end;
  .el-pagination button.is-disabled, .el-pagination button:disabled  {
    background-color:transparent;
  }
  .el-pager li  {
    background-color: transparent;
    color: #fff;
  }
  .el-pagination button  {
    background-color: transparent;
    color: #fff;
  }
  .el-pager li.is-active  {
    color: #61d3ff;
  }
}
.el-table_1_column_1,.el-table_1_column_15 {
  font-size: 18px;
  // color: black;
}
.el-table_1_column_1 {
  // background: rgb(70, 198, 70) !important;
}
.el-table_1_column_15 {
  // background: #FEA31B !important;
}
.is-plain {
  height: 40px;
  color: #1a3873;
  border: 1px solid #1a3873;
  &:hover {
    color: #2d5dbb;
  }


}
.el-button+.el-button {
  margin-left: 0;
}