.login-box {
    .el-input {
        height: 52px;
      }
      .el-form-item {
        margin-bottom: 38px;
      }
     

}
.el-form {
  width: 100%;
}
.el-container {
  height: 100vh;
  background-color:#f5f8fc;
}
.el-aside {
  background: linear-gradient(165deg, #1a3873, #0f2e5e);
  .el-menu-item {
    font-size: 18px;
  }
  .is-active {
    color: #61D3FF;
    background-color:  #2d5dbb;
    

  }
}
.el-menu-item {
  background-color: #1a3873;
}
.el-menu-item:hover {
  background-color:#00357f;
}
.el-header {
  background: linear-gradient(165deg, #1a3873, #0f2e5e);
}
.el-menu {
  border-right: none;
}
.el-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .el-main {
//   background-color:rgb(109,151,199);
// }
